<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class = "pictures">
        <div class="picture">
          <div class="picture-data clearfix">
            <div class="profile-img">
              <img src="<%=@picture.user.image%>" alt="">
            </div>
            <span class="picture-title"><%= @picture.user.name %></span>
            <span class="create-date"><%= @picture.created_at %></span>
          </div>
          <div class="picture-content">
            <p>タイトル : <%= @picture.title %></p>
            <p>内容: <%= @picture.content %></p>
          </div>
          <div class="picture-img">
            <img src="<%=@picture.image%>" alt="" class="picture-image">
          </div>
          <div class="picture-edit clearfix">
            <%= link_to '戻る', pictures_path %>
            <% if @picture.user.id == current_user.id then %>
            <a href="/pictures/<%=@picture.id%>/edit" data-confirm="本当に編集してよろしいですか"><i class="far fa-edit fa-color"></i></a>
            <a href="/pictures/<%=@picture.id%>" data-confirm="本当に削除してよろしいですか" data-method=delete><i class="fas fa-trash-alt fa-color"></i>
            <% end %>
            <% unless @picture.user_id == current_user.id %>
              <% if @favorite.present? %>
              <a href="/favorites/<%=@favorite.id%>" data-method=delete><i class="fas fa-heart fa-color"></i>
              <% else %>
              <a href="/favorites?picture_id=<%=@picture.id %>" data-method=post><i class="far fa-heart fa-color"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
